@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    box-shadow: 0px 3px 10px rgb(76, 255, 0);
    position: sticky;
    top: 0px;
    background: white;

}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1, nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

nav a{
    color: black;
    text-decoration: none;

}



html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7ebf0;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 950px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 55%;
    margin-right: 20px;
    margin-top: auto;
    font-weight: bold;
}

    .menu__list-item:last-child {
        margin-right: 0;
    }

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

    .menu__link:hover {
        color: #ffaa3b;
    }

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    width: 250px;
    background-image: url(./images/image.png);
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.bubble{
    position: absolute;
    z-index: -2;

}