@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    box-shadow: 0px 3px 10px rgb(76, 255, 0);
    position: sticky;
    top: 0px;
    background: white;

}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1, nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

nav a{
    color: black;
    text-decoration: none;

}



html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7ebf0;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.container p{
    width: 100%;
}

.container h2 {
    width: 1000px;
}

.hide {
    display: none;
}

.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 950px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.btn {
    background-color: #6dda6f;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    display: inline-block;
    height: 55%;
}

    .menu__list-item:last-child {
        margin-right: 0;
    }

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu__link:hover {
    color: #ffaa3b;
}

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.menu__logo {
    display: inline-block;
    width: 250px;
    background-image: url(./images/image.png);
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}



.btn {
    text-align: center;
    margin: auto;
    background-color: #6dda6f;
}

.jumbotron1{
    display: none;
}

.sidebar_amp {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    box-shadow: 0 rgb(76, 255, 0) 0 0;
    z-index: 1; /* Stay on top */
    top: 66px;
    left: 0;
    padding-top: 66px;
    background-color: #444; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Place content 60px from the top */
  }
  
  /* The sidebar links */
  .sidebar_amp a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Roboto;
    color: #f1f1f1;
    display: flex;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar_amp a:hover {
    background-color: #ffaa3b;
    margin-left: 20px;
    transition: 0.4s;
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar_amp .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    .sidebar_amp {padding-top: 90px;}
    .sidebar_amp a {font-size: 18px;}
  

@media only screen and (max-width: 1249px) {
   

    .line {
        width: 20px;
        background-color: black;
        margin: 6px 0;
      }

    header{
        width: auto;
    }


    label{
        display: block;
    }

    .menu{
        width: 50%;
        text-align: justify;
    }

    header ul{
        width: auto;
    }


    .btn{
        font-size: 10px;
        text-align: left;
        font-weight: bold;
        width: 55px;
        margin: auto;
        background-color: #6dda6f;
    }

    #toggle:checked + .sidebar{
        display: block;
    }

    .menu__logo{
        margin: auto;
        width: 50%;
        height: 70%;
        align-self: center;
        padding-left: -100px;
    }

    .container{
        width: auto;
    }

    .jumbotron{
        width: auto;
    }

    .jumbotron h2{
        width: auto;
    }

    .jumbotron1{
        width: auto;
    }    

}

